.contact {
    border-radius: 24px;
    padding: 1em 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* background-image: linear-gradient(0deg, rgba(250, 250, 250, 0.341), rgba(175, 92, 178, 0.929)), url("../assets/favicon/siran.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain; */
    background-color: var(--light-background);
}

.contact__contact_div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
}

.contact__left_hand {
    text-align: center;
}

.contact__right_hand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
}

.contact_text {
    color: var(--Black);
}

.contactLinks {
    font-size: 2rem;
    text-decoration: none;
    color: var(--Black);
}

.contact_buttons {
    display: flex;
    gap: 1em;
}

/* media queries */
/* xs */
@media screen and (min-width: 475px) {}

/* sm */
@media screen and (min-width: 640px) {}

/* md */
@media screen and (min-width: 768px) {
    .contact {
        background-position: left;
    }
    .contact_left_hand_heading {
        font-size: var(--size-4xl);
    }
    .contact__right_hand .contact_text{
        font-size: var(--size-2xl);
    }
}

/* lg */
@media screen and (min-width: 1024px) {}

/* xl */
@media screen and (min-width: 1280px) {}

/* 2xl */
@media screen and (min-width: 1536px) {}