.contact {
    border-radius: 24px;
    padding: 1em 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-image: linear-gradient(0deg, rgba(250, 250, 250, 0.341), rgba(175, 92, 178, 0.929)), url("../assets/siran.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    min-height: 18rem;
    display: flex;
    justify-content: center;
}

.contact__right_hand {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    align-self: flex-end;
    gap: 1em;
}

.contact_left_hand_heading {
    color: var(--Black);
    font-size: var(--size-xl);
    text-align: center;
}

.contact_buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.contact_text{
    color: var(--Black);
}
.contactLinks{
    font-size: 2rem;
    text-decoration: none;
    color: var(--Black);
}

/* media queries */
/* xs */
@media screen and (min-width: 475px) {}

/* sm */
@media screen and (min-width: 640px) {}

/* md */
@media screen and (min-width: 768px) {
    .contact {
        background-position: left;
    }

    .contact__contact_div {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .contact_left_hand_heading {
        font-size: var(--size-5xl);
    }
}

/* lg */
@media screen and (min-width: 1024px) {}

/* xl */
@media screen and (min-width: 1280px) {}

/* 2xl */
@media screen and (min-width: 1536px) {}