.hero {
    text-align: center;
    margin-top: 2rem;
    user-select: none;
    position: relative;
}

.hero__title_div {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: auto;
    place-items: center;
}

.hero_title {
    font-family: Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: var(--size-4xl);
    color: var(--Black);
}

.hero_img {
    display: inline;
    width: 250px;
    object-fit: contain;
}

.hero__my_description {
    font-size: var(--size-2xl);
    line-height: 1.5em;
    color: var(--Black);
    text-align: center;
    user-select: none;
}

.hero__description_div {
    margin-top: 2em;
    user-select: none;
}

/* xs */
@media screen and (min-width: 475px) {}

/* sm */
@media screen and (min-width: 640px) {}

/* md */
@media screen and (min-width: 768px) {
    .hero {
        justify-content: space-evenly;
    }

    .hero__my_description {
        font-size: var(--size-2xl);
        line-height: 1.7em;
        /* text-align: left; */
    }
}

/* lg */
@media screen and (min-width: 1024px) {}

/* xl */
@media screen and (min-width: 1280px) {}

/* 2xl */
@media screen and (min-width: 1536px) {}